<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">
        <h1>Shoptimize</h1>
      </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
      </nav>
    </div>
  </header>
  <main id="list-main" class="mdl-layout__content">
    <div class="page-content">
      <%= react_component('Lists', lists: @lists, listMap: @list_map, token: form_authenticity_token) %>
    </div>
  </main>
</div>

<form action="lists/create" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <button id="add-list" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">add a list</i>
  </button>
</form>
