main#list-main {
  background-color: #ECD3DD;

  .mdl-card {
    width: auto;
    cursor: pointer;
    border: solid 1px white;
    transition: border .25s;
  }

  .mdl-card:hover {
    border: solid darkgray 1px;
  }

  .add-list {
    cursor: pointer;
    text-align: center;
  }
}

#add-list {
  position:absolute;
  bottom:25px;
  right:25px;
  z-index:99999;
}

