// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mdl-card__supporting-text {
  color: rgba(0, 0, 0, .9) !important;
}

.center-content {
  text-align: center;
}

h1, h2 {
  font-family: 'Pacifico', cursive;
  font-weight: light;
}

h3, h4, p, main *:not(h2) {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  color: rgb(63,81,181) !important;
}

h1 {
  color: white;
  font-size: 35px;
}

main#login-main {
  background-image: image-url("login-back.png");
  background-size: cover;

  .mdl-card.login-card {
    width: 100%;
    margin-top: 10vw;
    opacity: 0.9;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  }

  #email-text, #login {
    width: 100%
  }

  .mdl-card form {
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
  }

  .mdl-card__supporting-text {
    text-align: left;
  }
}
